.project-page {
  padding-inline: 20px;
  max-width: 1200px;
  width: 100%;
  .project-wrapper {
    margin-inline: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
